In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("OECD_dashboard/data/area.csv")
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Reference area,FREQ,Frequency of observation,MEASURE,Measure,...,OBS_VALUE,Observation value,DECIMALS,Decimals,OBS_STATUS,Observation status,UNIT_MULT,Unit multiplier,BASE_PER,Base period
0,DATAFLOW,OECD.TAD.ARP:DSD_AGRI_ENV@DF_AGLAND(1.0),Agricultural land area,I,AUS,Australia,A,Annual,A_LAND,Arable land,...,82849.530,NaN,2,Two,A,Normal value,3,Thousands,NaN,NaN
1,DATAFLOW,OECD.TAD.ARP:DSD_AGRI_ENV@DF_AGLAND(1.0),Agricultural land area,I,AUS,Australia,A,Annual,A_LAND,Arable land,...,87400.030,NaN,2,Two,A,Normal value,3,Thousands,NaN,NaN
2,DATAFLOW,OECD.TAD.ARP:DSD_AGRI_ENV@DF_AGLAND(1.0),Agricultural land area,I,AUS,Australia,A,Annual,A_LAND,Arable land,...,90460.371,NaN,2,Two,A,Normal value,3,Thousands,NaN,NaN
3,DATAFLOW,OECD.TAD.ARP:DSD_AGRI_ENV@DF_AGLAND(1.0),Agricultural land area,I,AUS,Australia,A,Annual,T_CROP,Transgenic crops,...,200000.000,NaN,2,Two,A,Normal value,0,Units,NaN,NaN
4,DATAFLOW,OECD.TAD.ARP:DSD_AGRI_ENV@DF_AGLAND(1.0),Agricultural land area,I,AUS,Australia,A,Annual,T_CROP,Transgenic crops,...,100000.000,NaN,2,Two,A,Normal value,0,Units,NaN,NaN

In [11]:
df = df.drop(columns=['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'Observation value', 'Decimals', 'Base period', 'FREQ', 'Frequency of observation', 'Time period', 'DECIMALS', 'BASE_PER', 'EROSION_LEVEL', 'Erosion risk level', 'NUTRIENTS', 'Nutrients'])

In [12]:
df = df.drop(columns=['MEASURE', 'WATER_TYPE', 'OBS_STATUS', 'UNIT_MULT', 'UNIT_MEASURE', 'Water type'])

In [13]:
df = df.rename(columns={
    'REF_AREA': 'CountryCode',
    'TIME_PERIOD': 'Year',
    'OBS_VALUE': 'Value'
})

In [14]:
df.head()

,CountryCode,Reference area,Measure,Unit of measure,Year,Value,Observation status,Unit multiplier
0,AUS,Australia,Arable land,Hectares,2011,82849.530,Normal value,Thousands
1,AUS,Australia,Arable land,Hectares,2010,87400.030,Normal value,Thousands
2,AUS,Australia,Arable land,Hectares,2009,90460.371,Normal value,Thousands
3,AUS,Australia,Transgenic crops,Hectares,2004,200000.000,Normal value,Units
4,AUS,Australia,Transgenic crops,Hectares,2003,100000.000,Normal value,Units

In [15]:
for i in df.columns:
    print(i, df[i].unique())

CountryCode ['AUS' 'AUT' 'BEL' 'CAN' 'CHL' 'COL' 'CRI' 'CZE' 'DNK' 'EST' 'FIN' 'FRA'
 'DEU' 'GRC' 'HUN' 'ISL' 'IRL' 'ISR' 'ITA' 'JPN' 'KOR' 'LVA' 'LTU' 'LUX'
 'MEX' 'NLD' 'NZL' 'NOR' 'POL' 'PRT' 'SVK' 'SVN' 'ESP' 'SWE' 'CHE' 'TUR'
 'GBR' 'USA' 'EU28' 'EU27_2020' 'ARG' 'BRA' 'BGR' 'CHN' 'HRV' 'CYP' 'IND'
 'IDN' 'KAZ' 'MLT' 'PHL' 'ROU' 'RUS' 'ZAF' 'UKR' 'VNM']
Reference area ['Australia' 'Austria' 'Belgium' 'Canada' 'Chile' 'Colombia' 'Costa Rica'
 'Czechia' 'Denmark' 'Estonia' 'Finland' 'France' 'Germany' 'Greece'
 'Hungary' 'Iceland' 'Ireland' 'Israel' 'Italy' 'Japan' 'Korea' 'Latvia'
 'Lithuania' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand' 'Norway'
 'Poland' 'Portugal' 'Slovak Republic' 'Slovenia' 'Spain' 'Sweden'
 'Switzerland' 'TÃ¼rkiye' 'United Kingdom' 'United States'
 'European Union (28 countries)'
 'European Union (27 countries from 01/02/2020)' 'Argentina' 'Brazil'
 'Bulgaria' 'China (Peopleâ€™s Republic of)' 'Croatia' 'Cyprus' 'India'
 'Indonesia' 'Kazakhstan' 'Malta' 'Philippines' 'Romania' 'Russia'
 'South Africa' 'Ukraine' 'Viet Nam']
Measure ['Arable land' 'Transgenic crops' 'Permanent crops' 'Organic farming'
 'Permanent pasture' 'Total agricultural land area'
 'Arable and permanent crop land']
Unit of measure ['Hectares']
Year [2011 2010 2009 2004 2003 2002 2001 2000 1999 1998 1997 2022 2021 2020
 2019 2018 2017 2016 2015 2014 2013 2012 2008 2007 2006 2005 1996 1995
 1994 1993 1992 1991 1990 1989 1988 1987 1986 1985 2023]
Value [ 82849.53   87400.03   90460.371 ... 216790.     41406.      8813.   ]
Observation status ['Normal value']
Unit multiplier ['Thousands' 'Units']

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10566 entries, 0 to 10565
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CountryCode         10566 non-null  object
 1   Reference area      10566 non-null  object
 2   Measure             10566 non-null  object
 3   Unit of measure     10566 non-null  object
 4   Year                10566 non-null  int64
 5   Value               10566 non-null  float64
 6   Observation status  10566 non-null  object
 7   Unit multiplier     10566 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 660.5+ KB

In [17]:
df.isnull().any()

CountryCode           False
Reference area        False
Measure               False
Unit of measure       False
Year                  False
Value                 False
Observation status    False
Unit multiplier       False
dtype: bool

In [18]:
df.duplicated().sum()

0

In [19]:
output_path = "D:\\khoane\\Swin\\5-2025\\COS30045\\COS30045\\assignment_group\\OECD_dashboard\\data\\area_cleaned.csv"
df.to_csv(output_path, index=False)