In [40]:
import pandas as pd

In [41]:
df = pd.read_csv("OECD_dashboard/data/energy.csv")
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Reference area,FREQ,Frequency of observation,MEASURE,Measure,...,OBS_VALUE,Observation value,DECIMALS,Decimals,OBS_STATUS,Observation status,UNIT_MULT,Unit multiplier,BASE_PER,Base period
0,DATAFLOW,OECD.TAD.ARP:DSD_AGRI_ENV@DF_AGNRJ(1.0),Energy use,I,VNM,Viet Nam,A,Annual,TOTNRJ,Total final energy consumption,...,19831.570,NaN,2,Two,A,Normal value,3,Thousands,NaN,NaN
1,DATAFLOW,OECD.TAD.ARP:DSD_AGRI_ENV@DF_AGNRJ(1.0),Energy use,I,VNM,Viet Nam,A,Annual,TOTNRJAG,Direct on-farm energy consumption,...,375.250,NaN,2,Two,A,Normal value,3,Thousands,NaN,NaN
2,DATAFLOW,OECD.TAD.ARP:DSD_AGRI_ENV@DF_AGNRJ(1.0),Energy use,I,VNM,Viet Nam,A,Annual,TOTNRJAG,Direct on-farm energy consumption,...,408.331,NaN,2,Two,A,Normal value,3,Thousands,NaN,NaN
3,DATAFLOW,OECD.TAD.ARP:DSD_AGRI_ENV@DF_AGNRJ(1.0),Energy use,I,AUS,Australia,A,Annual,TOTNRJ,Total final energy consumption,...,49432.618,NaN,2,Two,A,Normal value,3,Thousands,NaN,NaN
4,DATAFLOW,OECD.TAD.ARP:DSD_AGRI_ENV@DF_AGNRJ(1.0),Energy use,I,AUS,Australia,A,Annual,TOTNRJ,Total final energy consumption,...,50548.281,NaN,2,Two,A,Normal value,3,Thousands,NaN,NaN

In [42]:
for i in df.columns:
    print(i, df[i].unique())

STRUCTURE ['DATAFLOW']
STRUCTURE_ID ['OECD.TAD.ARP:DSD_AGRI_ENV@DF_AGNRJ(1.0)']
STRUCTURE_NAME ['Energy use']
ACTION ['I']
REF_AREA ['VNM' 'AUS' 'AUT' 'CAN' 'BEL' 'CRI' 'COL' 'CHL' 'DNK' 'CZE' 'FIN' 'EST'
 'DEU' 'FRA' 'ISL' 'HUN' 'GRC' 'ISR' 'IRL' 'JPN' 'ITA' 'LTU' 'LVA' 'KOR'
 'MEX' 'LUX' 'NZL' 'NLD' 'POL' 'NOR' 'SVN' 'SVK' 'PRT' 'SWE' 'ESP' 'TUR'
 'CHE' 'USA' 'GBR' 'ARG' 'EU27_2020' 'EU28' 'BGR' 'BRA' 'HRV' 'CHN' 'IND'
 'CYP' 'MLT' 'KAZ' 'IDN' 'PHL' 'PER' 'RUS' 'ROU' 'UKR' 'ZAF']
Reference area ['Viet Nam' 'Australia' 'Austria' 'Canada' 'Belgium' 'Costa Rica'
 'Colombia' 'Chile' 'Denmark' 'Czechia' 'Finland' 'Estonia' 'Germany'
 'France' 'Iceland' 'Hungary' 'Greece' 'Israel' 'Ireland' 'Japan' 'Italy'
 'Lithuania' 'Latvia' 'Korea' 'Mexico' 'Luxembourg' 'New Zealand'
 'Netherlands' 'Poland' 'Norway' 'Slovenia' 'Slovak Republic' 'Portugal'
 'Sweden' 'Spain' 'Türkiye' 'Switzerland' 'United States' 'United Kingdom'
 'Argentina' 'European Union (27 countries from 01/02/2020)'
 'European Union (28 countries)' 'Bulgaria' 'Brazil' 'Croatia'
 'China (People’s Republic of)' 'India' 'Cyprus' 'Malta' 'Kazakhstan'
 'Indonesia' 'Philippines' 'Peru' 'Russia' 'Romania' 'Ukraine'
 'South Africa']
FREQ ['A']
Frequency of observation ['Annual']
MEASURE ['TOTNRJ' 'TOTNRJAG']
Measure ['Total final energy consumption' 'Direct on-farm energy consumption']
EROSION_LEVEL ['_Z']
Erosion risk level ['Not applicable']
WATER_TYPE ['_Z']
Water type ['Not applicable']
NUTRIENTS ['_Z']
Nutrients ['Not applicable']
UNIT_MEASURE ['TOE']
Unit of measure ['Tonnes of oil equivalent']
TIME_PERIOD [1995 1996 1986 1987 1988 2016 2017 1990 1991 1992 1993 1994 1997 1985
 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 1989 2018 2019 2020 2021 1998 1999]
Time period [nan]
OBS_VALUE [19831.57    375.25    408.331 ...   368.513   392.34  18705.071]
Observation value [nan]
DECIMALS [2]
Decimals ['Two']
OBS_STATUS ['A' 'L']
Observation status ['Normal value' 'Missing value; data exist but were not collected']
UNIT_MULT [3]
Unit multiplier ['Thousands']
BASE_PER [nan]
Base period [nan]

In [43]:
df = df.drop(columns=['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'Observation value', 'Decimals', 'Base period', 'FREQ', 'Frequency of observation', 'Time period', 'DECIMALS', 'BASE_PER', 'EROSION_LEVEL', 'Erosion risk level', 'NUTRIENTS', 'Nutrients'])

In [44]:
df = df.drop(columns=['MEASURE', 'WATER_TYPE', 'OBS_STATUS', 'UNIT_MULT', 'UNIT_MEASURE', 'Water type'])

In [45]:
df = df.rename(columns={
    'REF_AREA': 'CountryCode',
    'TIME_PERIOD': 'Year',
    'OBS_VALUE': 'Value'
})

In [46]:
for i in df.columns:
    print(i, df[i].unique())

CountryCode ['VNM' 'AUS' 'AUT' 'CAN' 'BEL' 'CRI' 'COL' 'CHL' 'DNK' 'CZE' 'FIN' 'EST'
 'DEU' 'FRA' 'ISL' 'HUN' 'GRC' 'ISR' 'IRL' 'JPN' 'ITA' 'LTU' 'LVA' 'KOR'
 'MEX' 'LUX' 'NZL' 'NLD' 'POL' 'NOR' 'SVN' 'SVK' 'PRT' 'SWE' 'ESP' 'TUR'
 'CHE' 'USA' 'GBR' 'ARG' 'EU27_2020' 'EU28' 'BGR' 'BRA' 'HRV' 'CHN' 'IND'
 'CYP' 'MLT' 'KAZ' 'IDN' 'PHL' 'PER' 'RUS' 'ROU' 'UKR' 'ZAF']
Reference area ['Viet Nam' 'Australia' 'Austria' 'Canada' 'Belgium' 'Costa Rica'
 'Colombia' 'Chile' 'Denmark' 'Czechia' 'Finland' 'Estonia' 'Germany'
 'France' 'Iceland' 'Hungary' 'Greece' 'Israel' 'Ireland' 'Japan' 'Italy'
 'Lithuania' 'Latvia' 'Korea' 'Mexico' 'Luxembourg' 'New Zealand'
 'Netherlands' 'Poland' 'Norway' 'Slovenia' 'Slovak Republic' 'Portugal'
 'Sweden' 'Spain' 'Türkiye' 'Switzerland' 'United States' 'United Kingdom'
 'Argentina' 'European Union (27 countries from 01/02/2020)'
 'European Union (28 countries)' 'Bulgaria' 'Brazil' 'Croatia'
 'China (People’s Republic of)' 'India' 'Cyprus' 'Malta' 'Kazakhstan'
 'Indonesia' 'Philippines' 'Peru' 'Russia' 'Romania' 'Ukraine'
 'South Africa']
Measure ['Total final energy consumption' 'Direct on-farm energy consumption']
Unit of measure ['Tonnes of oil equivalent']
Year [1995 1996 1986 1987 1988 2016 2017 1990 1991 1992 1993 1994 1997 1985
 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 1989 2018 2019 2020 2021 1998 1999]
Value [19831.57    375.25    408.331 ...   368.513   392.34  18705.071]
Observation status ['Normal value' 'Missing value; data exist but were not collected']
Unit multiplier ['Thousands']

In [47]:
df.head()

,CountryCode,Reference area,Measure,Unit of measure,Year,Value,Observation status,Unit multiplier
0,VNM,Viet Nam,Total final energy consumption,Tonnes of oil equivalent,1995,19831.570,Normal value,Thousands
1,VNM,Viet Nam,Direct on-farm energy consumption,Tonnes of oil equivalent,1995,375.250,Normal value,Thousands
2,VNM,Viet Nam,Direct on-farm energy consumption,Tonnes of oil equivalent,1996,408.331,Normal value,Thousands
3,AUS,Australia,Total final energy consumption,Tonnes of oil equivalent,1986,49432.618,Normal value,Thousands
4,AUS,Australia,Total final energy consumption,Tonnes of oil equivalent,1987,50548.281,Normal value,Thousands

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4198 entries, 0 to 4197
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CountryCode         4198 non-null   object
 1   Reference area      4198 non-null   object
 2   Measure             4198 non-null   object
 3   Unit of measure     4198 non-null   object
 4   Year                4198 non-null   int64
 5   Value               4108 non-null   float64
 6   Observation status  4198 non-null   object
 7   Unit multiplier     4198 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 262.5+ KB

In [49]:
df.isnull().any()

CountryCode           False
Reference area        False
Measure               False
Unit of measure       False
Year                  False
Value                  True
Observation status    False
Unit multiplier       False
dtype: bool

In [50]:
df.duplicated().sum()

0

In [51]:
df = df.dropna(subset=['Value'])

In [52]:
output_path = "D:\\khoane\\Swin\\5-2025\\COS30045\\COS30045\\assignment_group\\OECD_dashboard\\data\\energy_cleaned.csv"
df.to_csv(output_path, index=False)